numpy
python-dateutil
pyaml
pandas
adal==1.2.7
annotated-types==0.7.0
applicationinsights==0.11.10
arch==5.6.0
argcomplete==3.5.0
asttokens==2.4.1
attrs==24.2.0
azure-common==1.1.28
azure-core==1.31.0
azure-graphrbac==0.61.1
azure-identity==1.18.0
azure-mgmt-authorization==4.0.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-core==1.4.0
azure-mgmt-keyvault==10.3.1
azure-mgmt-network==26.0.0
azure-mgmt-resource==23.1.1
azure-mgmt-storage==21.2.1
azure-storage-blob==12.19.0
azure-storage-queue==12.12.0
azureml-automl-core==1.57.0
azureml-automl-runtime==1.57.0
azureml-core==1.57.0.post1
azureml-dataprep==5.1.6
azureml-dataprep-native==41.0.0
azureml-dataprep-rslex==2.22.4
azureml-dataset-runtime==1.57.0
azureml-defaults==1.57.0.post1
azureml-inference-server-http==1.3.2
azureml-interpret==1.57.0
azureml-mlflow==1.57.0.post1
azureml-pipeline-core==1.57.0
azureml-responsibleai==1.57.0
azureml-telemetry==1.57.0
azureml-train-automl==1.57.0
azureml-train-automl-client==1.57.0
azureml-train-automl-runtime==1.57.0
azureml-train-core==1.57.0
azureml-train-restclients-hyperdrive==1.57.0
azureml-training-tabular==1.57.0.post1
prophet==1.1.4
xgboost==1.5.2
fastapi
uvicorn
pydantic
psycopg2-binary
python-multipart